
{% load static %}

<!-- Our Footer Bottom Area -->
<section class="footer_middle_area pt30 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="footer_menu_widget">
                    <ul>                        
                        <li><a href="/">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="copyright-widget text-right">
                    <p>© {{rs.copy_right}}.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
</div>
<!-- Wrapper End -->
<script type="text/javascript" src="{% static '' %}main/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/popper.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/jquery.mmenu.all.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/ace-responsive-menu.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/snackbar.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/simplebar.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/parallax.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/scrollto.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/jquery.counterup.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/wow.min.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/progressbar.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/slider.js"></script>
<script type="text/javascript" src="{% static '' %}main/js/timepicker.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&callback=initMap"type="text/javascript"></script>
<script type="text/javascript" src="{% static '' %}main/js/googlemaps1.js"></script>
<!-- Custom script for all pages --> 
<script type="text/javascript" src="{% static '' %}main/js/script.js"></script>