<!-- HOME -->
{% load static %}
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">

                <!-- banner -->
                {% for rs in slider %}
                    <!-- banner -->
					<div class="banner banner-1">
						<img src="{{ rs.image.url }}" alt="" style="height: 562px">
						<div class="banner-caption text-center">					
							

						</div>
					</div>
					<!-- /banner -->
                    {% endfor %}
                <!-- /banner -->


            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
